.rodapé {
    padding: 1em;
    text-align: center;
    background-color: var(--rosa-claro);
    margin-bottom: 0;
    margin-top: 0;
}

hr {
    margin: 0;
    padding: 0.5em;
}

.rodapé__info {
    font-size: 16px;
    font-weight: 500;
}
