section.sobre { 
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}


#img__div {
    display: flex;
    padding-left: 80%;
}

.sobre__titulo {
    padding: 0 0.5em;
    font-weight: 700;
    font-size: 45px;
    color: var(--cinza);
    font-family: var(--fonte-principal);
}

.sobre__texto {
    font-weight: 400;
    font-size: 22px;
    color: var(--cinza);
    padding: 1em;
}

.imagem__sobre {
    max-width: 60%;
}

a {
    text-decoration: none;
    color: var(--cinza);
    margin: 0;
    margin: 0;
}

.apresentação__redes {
    display: flex;
    padding-left: 3%;
    justify-content: left;
}

.titulo__redes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container__história {
    background-color: var(--fundo-card);
    margin: 1em 0;
    padding: 2em;
}

.titulo__história {
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    width: 100%;
    padding: 0;
    margin-right: 0;

}

.texto__história {
    font-weight: 400;
    padding: 1em 0;
    display: flex;
    justify-content:left;
    text-align: left;
}

.skill__titulo { 
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.skill__itens {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.skill__imagem {
    list-style-type: none;
    text-align: center;
    align-items: center;
    padding: 2em 2em;
    border-radius: 50%;
    background-color: var(--fundo-skill);
}

.skill__imagem img{
    width: 60%;
    align-items: center;
}

.skill__nome {
    font-weight: 700;
    list-style-type: none;
    padding: 0.5em;
    text-align: center;
}

.Hobbies__titulo { 
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.Hobbies__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0 1em 1em;
}

.hobbies__imagem img{
    list-style-type: none;
    max-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.hobbies__imagem {
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.hobbies__nome {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    list-style-type: none;
    padding: 0;
}

.Formação {
    background-color: var(--fundo-card);
}

.formação__titulo { 
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    font-family: var(--fonte-principal);
}

.formação__cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.5em 2em;
    padding: 0.5em 0 1em 6em;
    padding-left: 8%;
}

.formação__instituição-faculdade img{
    width: 30%;
}

.formação__instituição-faculdade {
    list-style-type: none;
    padding: 2em 0;
    align-items: center;
}

.formação__instituição img{ 
    width: 20%;
}

.formação__instituição { 
    list-style-type: none;
}

.formação__nome {
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
}

.formação__período {
    list-style-type: none;
    font-weight: 500;
    padding-bottom: 1em;
}

section.experiência {
    padding: 4% 0 4%;
}

.experiência__projetos {
    display: flex;
    align-items: center;
    padding: 2% 4%;
}

#exp {
    flex-direction: row-reverse;
}

.experiência__info {
    display: flex;
    flex-direction: column;
}

.experiência__projetos:nth-child(3) {
    flex-direction: row-reverse;
}

.experiência__imagem {
    width: 40%;
    padding: 0 5em;
}

.experiência__botão--demo {
    display: inline-block;
    align-items: center;
    font-weight: 400;
    padding: 0.7em;
    color: var(--fundo-skill);
    background-color: var(--rosa-botão);
    border-color: transparent;
    border-width: 0.1em;
}

.experiência__botão--demo:hover {
    color: var(--rosa-botão);
    background-color: transparent;
    border-color: var(--rosa-botão);
}

.experiência__botão--repo {
    display: inline-block;
    align-items: center;
    font-weight: 400;
    padding: 0.7em;
    color: var(--rosa-botão);
    background-color: transparent;
    border-color: var(--rosa-botão);
    border-width: 0.1em;
}

.experiência__botão--repo:hover {
    color: var(--fundo-skill);
    background-color: var(--rosa-botão);
}

.experiência__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 1em;
    font-family: var(--fonte-principal);
}

.experiência__item {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

.experiência__texto {
    margin: 0;
    padding: 0.5em;
    font-weight: 500;
    font-size: 15px;
    padding: 1em 0;
}

@media screen and (min-width: 767px) {
    .sobre {
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }

    .sobre__texto {
        width: 751px;
    }

    .imagem__sobre {
        width: 100%;
    }

    .história {
        padding: 30px 0;
    }


    .skill__apresentação, .Hobbies__apresentação {
        flex-direction: row;
    }

    .apresentação__formação {
        flex-direction: row;
    }

    .experiência__imagem {
        height: 416px;
        width: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .sobre {
        padding: 0;
    }

    .sobre__titulo {
        font-size: 40px;
        line-height: 60px;
    }

    .sobre__texto {
        font-size: 20px;
        line-height: 26px;
    }

    .apresentação__redes {
        gap: 32px
    }

    .titulo__redes a{
        font-size: 16px;
    }
    .titulo__redes img{
        height: auto;
    }
    
    .container__história {
        margin: 30px 0 auto;
        width: 90%;
    }

    .história {
        padding: 64px 0;
    }

    .titulo__história {
        font-size: 32px;
    }

    .texto__história {
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }

    .skill, .Hobbies {
        margin: 0 auto 88px;
        width: 80%;
    }

    .skill__titulo {
        margin-top: 70px;
    }

    .formacao__titulo {
        font-size: 32px;
        line-height: 38px;
        margin-top: 50px;
    }

    .formação__instituição-faculdade {
        height: 100px;
        width: 250%;
    }

    .formação__instituição {
        height: 100px;
        width: 200%;
    }

    .experiência {
        gap: 32px;
    }

    .experiência__titulo{ 
        font-size: 32px;
    }
    .experiência__projetos {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }   

    #exp { 
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .experiência__imagem { 
        height: 150px;
        width: 50%;
    }

    .experiência__info {
        align-items: flex-start;
        max-width: none;
        width: 30%;
    }

    .experiência__item { 
        font-size: 22px;
    }

    .experiência__texto {
        font-size: 16px;
        line-height: 19px;
    }

    .experiência__descrição { 
        font-size: 16px;
    }

    .experiência__botão--demo:hover, .experiência__botão--repo:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

